# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
.pytest_cache/

# System
.DS_Store
.tmp/

# Data/Log
audio_out/
models/
*.egg-info/

# ML/AI Models & Large Wheels
*.onnx
*.onnx.json
*.whl
models/
.env
